{% extends 'base.html.twig' %}

{% block title %}Subjects{% endblock %}

{% block body %}
    <table class="uk-table uk-table-middle uk-table-divider">
        <thead>
            <tr>
                <th class="uk-width-small">Subjects</th>
                <th>Content</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
                <tr>
                    <td>{{ subject.name }}</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                    {% if is_granted('ROLE_STUDENT') %}
                        {% if subject in app.user.subjects %}
                            <td><a href="{{ path('subject_unsubscribe', { subjectId: subject.id }) }}" class="uk-button uk-button-default" type="button">Unsubscribe</a></td>
                        {% else %}
                            <td><a href="{{ path('subject_subscribe', { subjectId: subject.id }) }}" class="uk-button uk-button-default" type="button">Subscribe</a></td>
                        {% endif %}
                    {% elseif is_granted('ROLE_TEACHER') %}
                        {% for user in subject.users %}
                            {% if user == app.user %}
                                <td><a href="{{ path('subject', { subjectId: subject.id } )}}" class="uk-button uk-button-default" type="button">Show</a></td>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
