{% extends 'base.html.twig' %}

{% block title %}Add subject{% endblock %}

{% block body %}

    {{ form_start(form) }}
        <button class="uk-button">Save</button>
    {{ form_end(form) }}

{% endblock %}