{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

    <h3>List of student following {{ subject.name }} courses</h3>

    <table class="uk-table uk-table-middle uk-table-divider">
        <thead>
            <tr>
                <th class="uk-width-small">Firstname</th>
                <th class="uk-width-small">Lastname</th>
            </tr>
        </thead>
        <tbody>
                {% for user in subject.users %}
                <tr>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}